DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_REDIRECT_URI=
DISCORD_STAFF_ROLE=
DISCORD_DEFAULT_ROLE=
DISCORD_MOD_LOGS=
DISCORD_LOG_WEBHOOK_URL=https://discord.com/api/webhooks/
DISCORD_APPALCART_WEBHOOK=https://discord.com/api/webhooks/
DISCORD_SERVER_WEBHOOK=https://discord.com/api/webhooks/
DISCORD_EVENTS_WEBHOOK=https://discord.com/api/webhooks/
MYSQL_HOST=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DB=s238_yosefdb
PORT=3001
JWT_SECRET=